@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-pasifico {
    font-family: "Pacifico", cursive;
}
.font-poppins {
    font-family: "Poppins", sans-serif;
}
.font-inter {
    font-family: "Inter", sans-serif;
}

.active {
    color: #FF5A60;
    text-decoration: underline;
}

.bn632-hover {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.bn632-hover:focus {
    outline: none;
}
.bn632-hover.bn28 {
    background-image: linear-gradient(to right,
            #eb3941,
            #f15e64,
            #e14e53,
            #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}